<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Set Character Set -->
    <meta charset="utf-8">

    <!-- Make It Responsive! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" media="screen" title="Electron|Express">

    <!-- Load Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" media="screen" title="Electron|Express">

    <!-- Custom Handlebars Template Section (head) -->
    {{{_sections.head}}}

    <!-- Include HTML5 Shiv -->
  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  	<!--[if lt IE 9]>
  		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]-->
    <title>Electron|Express</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <!-- Custom Handlebars Template Section (footer) -->
  {{{_sections.footer}}}
</html>
